body {
	margin:0;
	font-size:12px;
	color:#fff;
	background-image:url('images/bg.png');
	font-family: 'Montserrat', sans-serif;
}
a {
	color:#fff;
	text-decoration:none;
}
#overlay {
	background: #000;
	color: #666666;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5000;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	padding-top: 25%;
}

.opt {
	color:#668cff;
}

.acc_menu_item {
	width:333px;
	height:25px;
	display:block;
	line-height:25px;
	padding-left:5px;
}

.acc_menu_item:hover{
	background-color:#ff3366;
}

.top {
	width:1600px;
	max-width:100%;
	background:url('images/top.png')top center;
	height:79px;
	margin:0px auto;
	color:#737373;
	line-height:68px;
	font-size:13px;
}
.stats tr{
	background-color:#37393f;
	height:30px;
	text-align:center;
}
.stats tr:hover{
	background-color:#ff3366;

}

.stats2 tr {
	background-color:#37393f;
	height:30px;
}

.stats2 tr:hover{
	background-color:#ff3366;

}

.stats3 tr {
	background-color:#37393f;
	height:30px;
}


.stats4 tr {
	background-color:#37393f;
	height:30px;
	text-align:center;
	border:1px solid #fff;
}


.header {
	background:url('images/header.png')top center;
	width:1600px;
	height:300px;
	max-width:100%;
	margin:0px auto;
}

.footer {
	background:url('images/fooot.png')top center;
	width:1600px;
	height:207px;
	max-width:100%;
	margin:0px auto;
}

.footer_text {
	width:625px;
	padding-left:373px;
	padding-top:30px;
}

.header_text {
	width:480px;
	height:auto;
	background-image:url('images/header_text.png');
	padding:10px;
	color:#fff;
	overflow:auto;
}

.left_side {
	float:left;
	width:341px;
	height:auto;
}

.right_side {
	float:right;
	width:625px;
	height:auto;
}

.text_body {
	background-color:#fff;
	height:auto;
	overflow:auto;
	color:#666666;
	padding:5px;
}

.new_title{
	background-color:#303339;
	color:#aac64f;
	padding:5px;
	font-size:13px;
	
}

.panel_top {
	background-image:url('images/panel_top.png');
	width:337px;
	height:52px;
	line-height:51px;
	font-size:14px;
	color:#6b6c6f;
}
.clear {
	clear:all;
	clear:both;
}
.text_top {
	height:52px;
	line-height:51px;
	font-size:14px;
	color:#6b6c6f;
}

.red {
	color:#ff3366;
}

.yt {
	width:334px;
	height:40px;
	background-color:#ff3366;
	line-height:40px;
	padding-left:5px;
}

.fb {
	width:334px;
	height:40px;
	background-color:#3399ff;
	line-height:30px;
	padding-left:5px;
}

.sk {
	width:334px;
	height:40px;
	background-color:#00ccff;
	line-height:40px;
	padding-left:5px;
}

.panel_body {
	padding-top:5px;
	padding-bottom:5px;
	height:auto;
	width:337px;
	vertical-align:top;
}

.button {
	width:152px;
	height:33px;
	background-image:url('images/button.png');
}

.nav {
	background:url('images/nav.png')top center;
	width:1000px;
	height:66px;
	margin:0px auto;
	line-height:66px;
	text-align:center;
	font-size:12px;
	
}

.input {
	background-color:#282a2f;
	height:25px;
	border:0;
	width:327px;
	padding-left:5px;
	padding-right:5px;
	font-size:11px;
	color:#aac64f;
}

.ok {
	background-color:#aac64f;
	height:25px;
	border:0;
	width:120px;
	font-size:11px;
}

.body {
	background-color:#303339;
	width:990px;
	height:auto;
	display:block;
	overflow: auto;
	margin:10px auto;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	
}

.body::-webkit-scrollbar { 
    display: none; 
}

.nav_item {
	width:90px;
	display:inline-block;
	text-align:center;
	color:#fff;
	text-decoration:none;
	transition:0.3s;
	text-transform: uppercase;
}

.nav_item:hover {
	color:#aac64f;
	transition:0.3s;
}

.title {
	color:#aac64f;
}
.container {
	width:1000px;
	height:auto;
	margin:0px auto;
}
.text-right{
	text-align:right;
	float:right;
}
.block-right{
	float:right;
}
h2 {
	color:#aac64f;
}
